.profile-image-wrapper {
  border-radius: 50%;
  margin: 0 20px;
  border: 3px solid rgb(185, 177, 177);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(168, 153, 153, 0.5);
  overflow: hidden;
  width: 60px;
  height: 60px;
}

.profile-image {
  height: 100%;
  width: auto;
}

.no-photo__p {
  font-size: 0.6rem;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .profile-image-wrapper {
    width: 165px;
    height: 165px;
  }

  .no-photo__p {
    font-size: 1rem;
  }
}
