/* Указываем box sizing *, */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: rgb(218, 218, 218);
  color: black;
  box-shadow: none;
  transition: 0.3s background-color ease-in-out;
  text-transform: uppercase;
}

.btn-unfollow {
  border: 2px solid#db0e07;
}

.btn-follow {
  border: 2px solid #0095f6;
}

.btn-unfollow:hover {
  background: #db0e07;
  color: white;
}
.btn-follow:hover {
  background: #0095f6;
  color: white;
}

.btn:disabled {
  background-color: rgb(197, 195, 195);
  color: rgb(112, 112, 112);
}

.toast {
  padding: 10px 20px;
  margin-top: 100px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  width: fit-content;
  position: fixed;
  right: 50px;
  top: 200px;
}

.input-field {
  display: flex;
  flex-direction: column-reverse;
}

::placeholder {
  color: grey;
}

input {
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid black;
  margin: 10px;
  padding: 5px;
  background-color: inherit;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #2870b4;
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  width: fit-content;
  border-bottom: 2px solid rgb(0, 0, 0, 0);
}

input:focus + label {
  color: #2870b4;
  border-bottom: 2px solid rgb(206, 67, 67);
}

.placeholder {
  width: 100%;
  background-color: inherit;
}

.main {
  padding: 100px 20px 30px;
  min-height: 100vh;

  overflow: auto;
  background: rgba(226, 226, 226, 0.2);
  background: linear-gradient(
    45deg,
    rgba(66, 183, 245, 0.8) 0%,
    rgba(66, 245, 189, 0.4) 100%
  );
  position: relative;
}

button,
button:active,
button:focus {
  outline: none;
}

a.active {
  border-bottom: 5px solid #ed1965;
}
