.info-page__contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0 50px;
}

.info-page__title {
  font-size: 30px;
  word-spacing: 1px;
  line-height: 40px;
  margin-top: 0.3em;
  text-align: center;
}

.info-page__tagline {
  text-align: center;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  line-height: 32px;
  color: #6b6b6b;
}

.info-page__map {
  margin: 50px auto;
  width: 100%;
}

.info-page__address {
  margin: 0 auto 50px;
  width: 300px;
}

.address__header {
  text-align: center;
}

.address_p {
  font-style: italic;
  text-align: center;
}

.info-page__office {
  padding-bottom: 50px;
}

.office__header {
  text-align: center;
  font-size: 2.5rem;
}

@media screen and (min-width: 500px) {
  .info-page__title {
    font-size: 60px;

    line-height: 70px;
  }

  .info-page__map {
    margin: 100px auto 50px;
    width: 70%;
  }
}
