.profile-page {
  margin: 0 auto;
}

.profile-posts {
  padding-top: 30px;
  border-top: 1px solid grey;
  margin: 30px auto 0;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.clickable {
  cursor: pointer;
}

.profile-page__header {
  display: flex;
}

.profile-info {
  height: 100%;
  flex-grow: 1;
}

.profile-info__amount {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
}

.profile-info__nickname {
  font-weight: bold;
  font-size: 1.3rem;
}

.profile-no-user {
  text-align: center;
}

.profile-page .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grey-input .label i {
  display: block;
  font-size: 16px;
  padding-bottom: 16px;
}

.profile-info__wrapper-1 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.profile__pagination input {
  color: black;
}

.profile-info__follow-btn {
  font-size: 1rem;
  padding: 5px 30px;
  margin-left: 50px;
}

@media screen and (min-width: 550px) {
  .profile__pagination {
    margin: 20px auto;
    width: fit-content;
  }

  .profile-info__follow-btn {
    font-size: 1.3rem;
  }

  .profile-info__nickname {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
      sans-serif;
    font-weight: lighter;
    font-size: 2rem;
  }

  .profile-info__amount {
    font-size: 1.3rem;
  }
}
