.profile-page {
  margin: 0 auto;
}

.profile-posts {
  padding-top: 30px;
  border-top: 1px solid grey;
  margin: 30px auto 0;
  width: 90%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.clickable {
  cursor: pointer;
}

.profile-page__header {
  width: 100%;
  display: grid;
  grid:
    'img img img nickname nickname nickname'
    'img img img btn btn btn'
    'posts posts followers followers following following';
  row-gap: 10px;
}

.profile-info__img {
  grid-area: img;
}

.profile-info__posts {
  grid-area: posts;
  justify-self: center;
}

.profile-info__followers {
  grid-area: followers;
  justify-self: center;
}

.profile-info__following {
  grid-area: following;
  justify-self: center;
}

.profile-info__nickname {
  grid-area: nickname;

  font-weight: bold;
  font-size: 1.3rem;
}

.profile-no-user {
  text-align: center;
}

.profile-page .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grey-input .label i {
  display: block;
  font-size: 16px;
  padding-bottom: 16px;
}

.profile__pagination input {
  color: black;
}

.profile-info__follow-btn {
  grid-area: btn;
  font-size: 0.7rem;
}

@media screen and (min-width: 500px) {
  .profile__pagination {
    margin: 20px auto;
    width: fit-content;
  }
  .profile-page__header {
    grid:
      'img nickname nickname nickname'
      'img btn btn btn'
      'posts  followers following';
  }

  .profile-info__follow-btn {
    font-size: 1.3rem;
  }

  .profile-info__nickname {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
      sans-serif;
    font-weight: lighter;
    font-size: 2rem;
  }

  .profile-info__posts,
  .profile-info__followers,
  .profile-info__following {
    font-size: 1.7rem;
  }
}
