.post-card {
  padding: 10px;
  margin: 50px auto 0;
  width: 90%;
  background-color: white;
  box-shadow: 0 0 15px grey;
}

.post-card img {
  max-width: fit-content;
  margin: auto;
}

.post-card .placeholder {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.post-card__additional {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.post-card__like {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.post-card__additional-p {
  width: 30%;
}

.post-card__nickname {
  font-size: 1.3rem;
  color: black;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .post-card {
    width: 450px;
  }

  .post-card .placeholder {
    height: 450px;
  }
}
