.settings {
  width: 98%;
  margin-top: 100px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  background: white;
}

.settings input {
  color: black;
  width: 70%;
}

.settings .image-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 20px;
}

.settings-btn {
  border: 3px solid rgb(152, 44, 224);
  margin: 30px 0 0;
}

.settings-btn:hover {
  background: rgb(152, 44, 224);
  color: white;
}

.settings-page {
  padding: 40px 0;
}

@media screen and (min-width: 700px) {
  .settings {
    width: 600px;
  }

  .image-field {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
