.nav {
  margin-left: 10px;
  display: flex;
}

.nav i {
  margin-right: 10px;
}

.nav__item {
  padding: 10px 15px;
  font-size: 1.3rem;
  border-left: 3px solid #bbb;
  cursor: pointer;
  transition: 0.4s color ease-in-out;
}

.nav__item:first-child {
  border-top: none;
  border-left: none;
  border-right: none;
}

.nav__item:hover {
  color: rgb(0, 32, 102, 0.5);
}

.topmenu {
  position: relative;
}

.topmenu:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.submenu__item:hover {
  background: rgb(224, 224, 224);
}

.submenu__item {
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.submenu {
  transition: 0.3s opacity ease;
  opacity: 0;
  visibility: hidden;

  position: absolute;
  background: white;
  border: 1px solid rgb(82, 82, 82);
  top: 100%;
  left: -50px;
  width: 150px;
  z-index: 3;
}

a:visited,
a:link {
  color: black;
}

.logout__item {
  border-top: grey;
}
