.user-list-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.userlist {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  overflow-y: auto;
}

.userlist__header {
  text-transform: capitalize;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #adadad;
  font-weight: bold;
  font-size: 1.5rem;
}
