.slider {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.slider__img-wrapper {
  width: 80%;
  margin: 0 auto;
}

.slider:hover .slider__counter {
  display: block;
}

.slider__img {
  width: auto;
  height: 100%;
}

.slider__btn {
  cursor: pointer;
  position: absolute;
  width: 10%;
  height: 100%;

  border: none;
  font-size: 1.2rem;
  color: black;
  background-color: rgba(0, 0, 0, 0.3);
}

.slider__btn:hover {
  transition: background-color 1s;
}

.slider__btn-prev {
  top: 0;
  left: 0;
}

.slider__counter {
  display: none;
  position: absolute;
  top: 48%;
  left: 45%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
}

.slider__btn-next {
  top: 0;
  right: 0;
}

@media screen and (min-width: 500px) {
  .slider {
    width: 500px;
    height: 500px;
  }

  .slider__btn {
    font-size: 2rem;
  }
}
