.user-item {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-item__nickname {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 20px;
  overflow: hidden;
}

.user-item .profile-image-wrapper {
  width: 40px;
  height: 40px;
}

.user-item .profile-image-wrapper i {
  font-size: 25px;
}

.user-item__btn {
  margin-left: auto;
  font-size: 0.7rem;
  padding: 3px 6px;
}

@media screen and (min-width: 500px) {
  .user-item__nickname {
    font-size: 1.3rem;
  }

  .user-item__btn {
    font-size: 1rem;
    margin-left: auto;
    padding: 5px 10px;
  }
}
