.user-item {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-item__nickname {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 20px;
  overflow: hidden;
}

.user-item__wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.user-item__image {
  width: auto;
  height: 100%;
}

.user-item__wrapper i {
  font-size: 25px;
}

.user-item__btn {
  margin-left: auto;
  font-size: 0.8rem;
}

@media screen and (min-width: 500px) {
  .user-item__nickname {
    font-size: 1.3rem;
  }

  .user-item__btn {
    font-size: 1rem;
    margin-left: auto;
  }
}
