.form-container {
  width: 300px;
  margin: 50px auto 0;
  padding: 20px;
  background-color: rgb(53, 53, 211);
  box-shadow: 0 0 15px black;
  border-radius: 10px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-login {
  background-color: chocolate;
  color: white;
}

.btn-register {
  background-color: rgb(146, 145, 145);
  color: black;
}

.form-link {
  text-align: center;
  margin-top: 20px;

  font-size: 1rem;
  text-decoration: underline;
}

.form-link a {
  color: greenyellow;
}

@media screen and (min-width: 500px) {
  .form-container {
    width: 500px;
    margin: 100px auto 0;
    padding: 20px 60px;
  }

  .form-link {
    font-size: 1.2rem;
  }
}
