.auth-page {
  /* background: linear-gradient(
    45deg,
    rgba(66, 183, 245, 0.8) 0%,
    rgba(66, 245, 189, 0.4) 100%
  ); */
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 100px;
}

.form-container {
  width: 300px;
  margin: 50px auto 0;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 5px black;
  border-radius: 5px;
}

.form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.form__type {
  text-transform: uppercase;
  font-size: 1rem;
  color: #4285f4;
  font-weight: 700;
}

a.form__redirect {
  border: 1px solid #22272d;
  padding: 7px 15px;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
  color: #7f8084;
  transition: 0.3s background-color ease-in-out;
}

a.form__redirect:hover {
  border: 1px solid #22272d;
  background: #22272d;
  color: white;
}

.btn-auth {
  margin-top: 20px;
  outline: none;
  background: #4285f4;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s background-color ease;
}

.btn-auth:hover {
  background: #2d5ca7;
}

.form-container input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (min-width: 500px) {
  .form-container {
    width: 500px;
    margin: 100px auto 0;
    padding: 20px 60px;
  }

  .form__type {
    font-size: 1.4rem;
  }

  .form-container {
    box-shadow: 0 0 15px black;
  }
}
