.App-header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 20px;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0);
}

.headerlogo {
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (min-width: 500px) {
  .headerlogo {
    font-size: 1.4rem;
  }

  .App-header {
    justify-content: space-evenly;
  }
}
